NEXT_PUBLIC_GITHUB_QUEUE_TOKEN=
NEXT_PUBLIC_GITHUB_QUEUE_OWNER=kovacoj
NEXT_PUBLIC_GITHUB_QUEUE_REPO=sciml
NEXT_PUBLIC_GITHUB_QUEUE_ISSUE=1
NEXT_PUBLIC_GITHUB_QUEUE_TIMEOUT_MS=180000
NEXT_PUBLIC_GITHUB_QUEUE_POLL_INTERVAL_MS=3000
NEXT_PUBLIC_AI_CHAT_ENABLED=true
NEXT_PUBLIC_BASE_PATH=
