# deps
node_modules/

# generated content
.source/
public/notebooks/

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
notebooks/__marimo__/

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# others
.env
.env.*
!.env.example
.env*.local
.vercel
next-env.d.ts
